body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.842);
    color: #fff;
    padding: 10px 0;
    position: fixed
    width: 100%;
    
}
footer{
    background-color: rgba(0, 0, 0, 0.842);
    text-align: center;
    color: #fff;
    padding: 5px;
}
.container{
    display: flex;
    margin: 20px;
}
main{
    flex: 3;
    background: #fcfcfc;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
    border-radius: 20px;
}
aside{
    flex: 1;
    background: #f8f6f6f5;
    margin: 10px;
    margin-right: 0;
    border-radius: 20px;
    padding: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    padding: 10px;
    width: 28%;
    box-shadow: 0 1px 1px 1px  rgba(117, 117, 113, 0.253);
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s;
    transform: scale(0.3s);
    

}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}
.card button{
    padding: 13px;
    border-radius: 20px;
    border: none;
    background-color: #03344c;
    color: #fff;
    width: 10;
}
body{
    background: #f4f4f4;
}
#card-container{
    display: flex;
    justify-content: space-around;
}
#card{
    width:260px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 1px 1px 1px  rgba(185, 185, 184, 0.253);
    text-align: center;
    border-radius: 15px;
    background-color: #fff;
    transition: 0.3s;
    
}
#card img{
    width: 250px;
    height: 210px;
    border-radius: 10px;
    object-fit: cover;
}
/* #card :hover{
    transform: scale(1.04); */
/* } */
#card-container :hover{
    transform: scale(1.06);
    transition: 0.3s;
}
.card-container :hover{
    transform: translateY(-15px);
    /* transform: scale(1.06); */
    transition: 0.3s;
}
.A{
    color: #03374E;
    text-decoration: none;
    text-decoration: underline;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    list-style: none;
    /* gap: 10px; */
    
}
.nav-link a{
    color: #fff;
    text-decoration: none;
    padding: 10px;

}
.nav-link a:hover{
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
/* .card :hover{
    transform: translateY(-10px);
    transition: 0.1s;
} */